/* GLOBAL STYLES */
input:focus,
button,
select,
input:active {
    outline: none !important;
    box-shadow: none;
}

h3 {
    display: inline-block;
}

.inblock {
    display: inline-block;
}

.center {
    text-align: center;
}

/* ============================================================================================================== */
/*Radio buttons style*/
.radio-toolbar {
    margin-top: 20px;
}

.radio-toolbar input[type="checkbox"] {
    display: none;
}

.radio-toolbar label {

    display: inline-block;
    height: 50px;
    width: 120px;
    font-size: 19px;
    border: 1px solid gray;
    /* border-radius: 50%; */
}

.radio-toolbar span {
    font-size: 18px;
}

.radio-toolbar label:hover {
    background-color: skyblue;
}

.radio-toolbar input[type="checkbox"]:checked+label {
    background-color: skyblue;
}

/* =======================================Navigation =====================================================*/
nav {
    background: blue;
    height: 100px;
}

#logo {
    float: left;
}

nav a {
    display: inline-block;
    margin-top: 20px;
}

nav button {
    width: 120px;
    height: 30px
}

/* ======================================somethings */
.bad {
    color: red;
}

.ok {
    color: orange;
}

.good {
    color: lime;
}

/* ============================FOOTER==================== */
footer {
    height: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: blue;
    margin-top: 50px;
}